/* The switch - the box around the slider */
.switch {
  --switch-width: 3rem;
  --padding: 0.25rem;
  --circle-size: calc(var(--switch-width) / 2);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: var(--switch-width);
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  /* TODO: Could none be used instead of this */
  /* display:none; */
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 3rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: var(--circle-size);
  width: var(--circle-size);
  left: var(--padding);
  bottom: var(--padding);
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  /* Total width - circle width - left padding - right padding */
  transform: translateX(calc(var(--switch-width) - var(--circle-size) - (2 * var(--padding))));
}
