/* TODO: New plan like on mozilla and vsc only the selected tab has an outline
everything else has the same background. The add tab button is not at the end but has a fixed place
*/

.TabBar,
.tab-list,
.Tab,
.tab-bar-nav-wrapper,
.tab-bar-ol-wrapper {
  /* Positioning in window */
  top: 0;
  left: 0;
  /* Removing unnescessary padding */
  border: 0;
  margin: 0;
  padding: 0;
}

/* Variables need to be declared at the parent to be in scope for all children. */
.TabBar {
  --TabBar-height: 6vh;
  --border-thickness: 1vw;
  width: 100%;
  height: var(--TabBar-height);
  /* Override other styles */
  list-style: none;
  cursor: pointer;
  /* Display */
  display: grid;
  grid-template-columns: 90% 10%;
}

.tab-list {
  /* Sizing and Display */
  display: flex;
  flex-direction: row;
  white-space: unset;
  /* Remove inherited styles */
  list-style: none;
  overflow-x: auto;
  height: 100%;
}

/* TODO: Both have */
.tab-list::-webkit-scrollbar {
  display: none;
}

.Tab {
  /* Sizing & Display */
  flex: 0 0 20%; /* Tab will shrink to min width but not grow because grow */
  /* Child Content Display */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Colors */
  background-color: #277705;
  border-left: 1px solid #ff0000;
}

/* FIXME: Does not seem to fill tab contents */
.AddTab {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  height: var(--TabBar-height);
  background-color: #46d508;
}

.Tab.hovered {
  background-color: rgba(39, 119, 5, 0.3);
}

.TabBar nav {
  height: 100%;
}

/* FIXME: The close button area does not inherit the active background*/
.selected {
  border-top: var(--border-thickness) solid hotpink;
  background-color: #46d508;
}

.over {
  border-left: var(--border-thickness) solid hotpink;
  opacity: 0.5;
}

.tab-content {
  /* Display and Sizing  */
  flex: 1 1 auto;
  min-width: 0;
  /* Overflow and Wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: preserve nowrap;
  color: inherit;
  /* Remove inherited styles */
  text-decoration: none;
}

/* This can just be a button on the tab */
.tab-button {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
  height: 5vmin;
  width: 5vmin;
  flex: 0 0 auto;
  background-color: transparent;
  border: solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tab-button:hover {
  background-color: rgba(173, 216, 230, 0.5);
}

.close {
  color: #4000ff;
}

.tab-button:hover.close {
  color: #ff0000;
}

.add-tab-button:hover {
  background-color: rgba(173, 216, 230, 0.5);
}

.tab-content {
  height: 100%;
  /* Text Centering */
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
}

.unsaved-indicator {
  background: #ff0000;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
