/* TODO: New plan like on mozilla and vsc only the selected tab has an outline
everything else has the same background. The add tab button is not at the end but has a fixed place
*/

/* FIXME: Why is the tab-list container 1px bigger than the AddTab one? */

.TabBar,
.tab-list,
.Tab,
.tab-bar-nav-wrapper,
.tab-bar-ol-wrapper {
  /* Positioning in window */
  top: 0;
  left: 0;
  /* Removing unnescessary padding */
  border: 0;
  margin: 0;
  padding: 0;
}

/* Variables need to be declared at the parent to be in scope for all children. */
.TabBar {
  --TabBar-height: 6vh;
  --border-thickness: 1vw;
  --scollbar-height: 1vh;
  --scrollbar-color: rgba(255, 0, 0, 0.8);
  --tab-color: #277705;
  --tab-color-hovered: color-mix(in srgb, var(--tab-color) 70%, white 30%);
  --tab-color-selected: #46d508;
  width: 100%;
  height: var(--TabBar-height);
  /* Override other styles */
  list-style: none;
  cursor: pointer;
  /* Display */
  display: grid;
  grid-template-columns: 95% 5%;
}

.tab-list {
  /* Sizing and Display */
  display: flex;
  flex-direction: row;
  /* Scrollbar appearance */
  overflow-x: auto;
  height: calc(100% + var(--scollbar-height)); /* Extend below to push scrollbar down */
  margin-bottom: calc(-1 * var(--scollbar-height)); /* Pull container back up */
  /* Remove styling */
  list-style: none;
  white-space: unset;
}

.tab-list::-webkit-scrollbar {
  height: var(--scollbar-height);
  position: absolute; /* Try to overlay */
  bottom: 0;
}

.tab-list::-webkit-scrollbar-track {
  background: transparent;
}

.tab-list::-webkit-scrollbar-thumb {
  background: transparent; /* Hidden by default */
  border-radius: 0.15rem;
}

.tab-list.hovered::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

.tab-list::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color);
}

.tab-list::-webkit-scrollbar-button {
  display: none;
}

.Tab {
  /* Sizing & Display */
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  flex: 0 0 20%; /* Tab will shrink to min width but not grow because grow */
  /* Child Content Display */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Colors */
  background-color: var(--tab-color);
}

.AddTab {
  height: 100%;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--tab-color-selected);
}

.Tab.hovered {
  background-color: var(--tab-color-hovered);
}

.TabBar nav {
  height: 100%;
}

.Tab.selected {
  background-color: #46d508;
  border-top: var(--border-thickness) solid hotpink;
}

.hovering-over {
  border-left: var(--border-thickness) solid hotpink;
  opacity: 0.5;
}

.tab-content {
  /* Display and Sizing  */
  flex: 1 1 auto;
  min-width: 0;
  /* Overflow and Wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: preserve nowrap;
  color: inherit;
  /* Remove inherited styles */
  text-decoration: none;
}

/* This can just be a button on the tab */
.tab-button {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
  height: 5vmin;
  width: 5vmin;
  flex: 0 0 auto;
  background-color: transparent;
  border: solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

.tab-button:hover {
  background-color: rgba(173, 216, 230, 0.5);
}

.close {
  color: #4000ff;
}

.tab-button:hover.close {
  color: #ff0000;
}

.add-tab-button:hover {
  background-color: rgba(173, 216, 230, 0.5);
}

.tab-content {
  height: 100%;
  /* Text Centering */
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
}

.unsaved-indicator {
  background: #ff0000;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}
