.TabBar,
.tab-bar-contents,
.Tab,
.tab-bar-nav-wrapper,
.tab-bar-ol-wrapper {
  /* Positioning in window */
  top: 0;
  left: 0;
  /* Removing unnescessary padding */
  border: 0;
  margin: 0;
  padding: 0;
}

.TabBar {
  --TabBar-height: 6vh;
  /* Positioning in the window */
  position: absolute;
  width: 100vw;
  height: var(--TabBar-height);
  /* Override other styles */
  list-style: none;
  cursor: pointer;
}

.tab-bar-contents {
  /* Sizing and Display */
  display: flex;
  flex-direction: row;
  white-space: unset;
  /* Remove inherited styles */
  list-style: none;
  overflow-x: auto;

  height: 100%;
  /* align-items: stretch; */
}

/* TODO: Both have */
.tab-bar-contents::-webkit-scrollbar {
  display: none;
}

/* TODO: 
 - Currently `Tab`s do not shrink 
 - Text should be centered vertically
 - A hovered tab should also change color
 - Need to make sure selected is in the screen on change
 - `Tab`s need to grow to fit the container
 */
.Tab {
  /* Sizing & Display */
  flex: 0 1 100%; /* Tab will shrink to min width but not grow because grow */
  max-width: 30vw;
  min-width: 5vw;
  /* Child Content Display */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Colors */
  background-color: #277705;
  border-left: 1px solid #ff0000;
}

/* Without this the tabs don't take up the full container */
.TabBar nav {
  height: 100%;
}

/* FIXME: The close button area does not inherit the active background*/
.Tab:active {
  border-top: 1vh solid hotpink;
  background-color: #46d508;
}

.tab-content {
  /* Display and Sizing  */
  flex: 1 1 auto;
  min-width: 0;
  /* Overflow and Wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: preserve nowrap;
  color: inherit;
  /* Remove inherited styles */
  text-decoration: none;
}

.tab-close-button {
  /* all: unset; */
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
  height: 5vmin;
  width: 5vmin;
  flex: 0 0 auto;
  color: #4000ff;
  background-color: inherit;
  border: solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* TODO: The highlight background should be a square */
.tab-close-button:hover {
  color: #ff0000;
  background-color: rgba(173, 216, 230, 0.5);
}

/* FIXME: Does not seem to fill tab contents */
.AddTab {
  all: unset;
  height: var(--TabBar-height);
  width: var(--TabBar-height);
  /* Colors */
  background-color: #277705;
}

.AddTab:hover {
  background-color: azure;
}

/* FIXME: Why does this color take precedent even when not focused */
/* .AddTab:focus {
  background-color: #051001;
} */

.tab-content {
  height: 100%;
  /* Text Centering */
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center;
}
