/* TODO: I want the result boxes to appear in rows of alternative highlights which are the same size (when closed) regardless of full or partial*/
/* TODO: The filters need to be grouped with results not the search input */
.results-header {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

/* TODO: Probably want some more padding here so they're not entirely flush with the side */

.result-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* TODO: The toggles should be made to look like toggle switches */
.toggle {
  /* FIXME: This should be using units that is absolute and not variable like px  */
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* TODO:  Why do I need to duplicate so much of this against. */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

/* TODO: Is duplication needed  */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* TODO: Why are these border radii distinct */
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
