#spinner {
  font-size: 2rem; /* increase text size */
  color: white;
  font-weight: bold;
  place-content: center;
}
/* TODO: What is the spinner, is it in use? */
/* TODO: Results box should be wider */

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  margin: 0;
  border: 0;
  align-items: center;
}

.search-bar {
  flex-shrink: never;
  top: 0rem;
  /* TODO: I want to bind this so it stays stuck near the top */
  /* TODO: I want to give this a bit of distance from other components*/
}
