/* TODO: The radio buttons should go downwards */
/* TODO: Line between each section */
/* #fontSizeChooseWrapper:disabled {
  display: none;
} */

#settings {
  display: flex;
  flex-direction: column;
}

.settings-subsection {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

#save-buttons {
  display: inline-block;
}
